.info, .content{
    background-color: dodgerblue;
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 100%;
    height: 500px;
}

.content{
    height: 300px;
}
.bobs{
    display: flex;
    justify-content: space-between;
}
.bob{
    width: 400px;
    height: 500px;
    background-color: midnightblue;
    margin: 10px;
}