*{
    box-sizing: border-box;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.post-card{
    width: 18%;
    margin: 3px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 5px;
}